.login {
    margin: 7%;

}

.login__container {
    margin-top: 50px;
}

.login-form {
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
{
    width: 40%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.input-tag {
    font-size: 90%;
}

.form-box {
    position: absolute;
    width: 50%;
    top: 0;
    right: 20%;
    // background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    height: 630px;
    padding-top: 40px;
    margin-top: 90px;
}

.button-bar {
    margin-top: 50px;
}

.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color: #333;
}


