.buyer-container {
    margin: 5% 10%;
    font-size: 90%;
}

.buyer-box {
    border: solid 2px $sky;
    padding: 2%;
    border-radius: 3%;
    height: 525px;
}

.payment-calc {
    list-style-type: none;
}

.payment-calc li {
    margin: 20px 0;
}